<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<style layout:fragment="content_css">
    hr {
        width: 50%;
        background-color: dimgray;
        height: 1px;
    }
</style>
<div layout:fragment="content">
    <div class="content" style="text-align: center" th:fragment="testPage">
        <h1>회원가입</h1>
        <form method="post" th:action="@{/signUp}">

            <div>
                <h3>아이디</h3>
                <input type="text" name="id" class="form-control" required>
            </div>
            <hr>
            <div>
                비밀번호
                <input type="password" name="password" class="form-control"  required/><br>
                비밀번호 재입력
                <input type="password" name="password" class="form-control"  required/>
            </div>
            <hr>
            <div>
                이름(실명)
                <input type="text" name="name" class="form-control" required>
            </div>
            <hr>
            <div>
                닉네임
                <input type="text" name="nickName" class="form-control" required>
            </div>
            <hr>
            <div>
                이메일
                <input type="text" name="email_1" class="form-control" required>
            </div>
            <hr>
            <div>
                주소
                <input type="text" id="sample4_postcode" placeholder="우편번호">
                <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                <span id="guide" style="color:#999;display:none"></span>
                <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                <input type="text" id="sample4_extraAddress" placeholder="참고항목">
            </div>
            <hr>
            <button>회원가입</button>
        </form>
    </div>
</div>
<th:block layout:fragment="content_js">
    <th:block th:replace="pages/member/signup_script.html :: testJs"></th:block>
</th:block>
