<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<style layout:fragment="contentCss">
    /*hr {*/
    /*    width: 50%;*/
    /*    background-color: dimgray;*/
    /*    height: 1px;*/
    /*}*/
    /*table{*/
    /*    width: 50%;*/
    /*}*/
    table{
        width: 50%;
    }
    .table_text{
        text-align: left;
        padding: 2% 10% 2% 10%;
        width: 40%;
        font-weight: bold;
    }
    .table_input{
        width: 50%;
    }
    /*.table tr td{*/

    /*    padding: 10px 10px 10px 10px;*/
    /*}*/
    input{
        width: 30%;
    }
</style>
<div layout:fragment="content">
    <div class="content" style="text-align: center" th:fragment="testPage">
        <h1>회원가입</h1>
        <form method="post" th:action="@{/member/signup}" modelAttribut="MemberSignupRequest">
            <table th:align="center" >
                <tr>
                    <td class="table_text">
                        아이디
                    </td>
                    <td class="table_input">
                        <input type="text" id="memberId" name="userId" class="form-control"/>
                    </td>
                    <td ><span id="idCheck" th:text="${valid_userId}"></span></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        비밀번호
                    </td>
                    <td class="table_input">
                        <input type="password" id="password" name="password" class="form-control"/>
                    </td>
                    <td ><span id="pwCheck" th:text="${valid_password}"></span></td>
                </tr>
                <tr>
                    <td class="table_text">
                        비밀번호 재입력
                    </td>
                    <td class="table_input">
                        <input type="password" id="password2" class="form-control"/>
                    </td>
                    <td ><span id="pw2Check"></span></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        이름(실명)
                    </td>
                    <td class="table_input">
                        <input type="text" id="username" name="name" class="form-control">
                    </td>
                    <td ><span id="nameCheck" th:text="${valid_name}"></span></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        닉네임
                    </td>
                    <td class="table_input">
                        <input type="text" id="nickName" name="nickname" class="form-control">
                    </td>
                    <td ><span id="nickNameCheck" th:text="${valid_nickname}"></span></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        이메일
                    </td>
                    <td  class="table_input">
                        <input type="text" id="email" name="email" class="form-control">
                    </td>
                    <td><span id="emailCheck" th:text="${valid_email}"></span> </td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        주소
                    </td>
                    <td  class="table_input">
                        <input type="text" id="sample4_postcode" class="form-control" placeholder="우편번호">
                    </td>
                    <td>
                        <input type="button" onclick="sample4_execDaumPostcode()" class="btn btn-dark" value="우편번호 찾기">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="table_input"><input type="text" name="address" id="sample4_roadAddress" class="form-control" placeholder="도로명주소"></td>
<!--                    <td><input type="text" class="form-control" id="sample4_jibunAddress" placeholder="지번주소"></td>-->
                    <td></td>
                </tr>
                <tr>
                    <td><span id="guide" style="color:#999;display:none"></span></td>
                    <td class="table_input">
                        <input type="text" id="sample4_detailAddress" name="address" class="form-control" placeholder="상세주소">
                    </td>
                    <td>
                        <input type="text" id="sample4_extraAddress" name="address" class="form-control" placeholder="참고항목">
                    </td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td><button class="btn btn-dark">회원가입</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<th:block layout:fragment="contentJs">
    <th:block th:replace="pages/member/signupScript.html :: signupScript"></th:block>
</th:block>
