<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<div layout:fragment="content">
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <div class="content" style="text-align: center" th:fragment="testPage">
        <h1>회원가입</h1><br>
        <form method="post" th:action="@{/member/signup}" modelAttribute="MemberSignupRequest">
            <table th:align="center" >
                <tr>
                    <td class="table_text">
                        아이디
                    </td>
                    <td class="table_input">
                        <input type="text" id="memberId" name="userId" class="form-control"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><br></td>
                    <td colspan="2"><span class="check-text" id="idCheck" th:text="${valid_userId}" style="font-size: smaller"></span></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        비밀번호
                    </td>
                    <td class="table_input">
                        <input type="password" id="password" name="password" class="form-control"/>
                    </td>
                    <td><span style="font-size: smaller; margin-left: 5px;">(영문 대,소문자 8-16자리)</span></td>
                </tr>
                <tr>
                    <td><br></td>
                    <td colspan="2"><span class="check-text" id="pwCheck" th:text="${valid_password}"></span></td>
                </tr>
                <tr>
                    <td class="table_text">
                        비밀번호 재입력
                    </td>
                    <td class="table_input">
                        <input type="password" id="password2" name="password2" class="form-control"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><br></td>
                    <td colspan="2">
                        <span id="pw2Check" class="check-text" th:text="${valid_password2}"></span>
                    </td>
                </tr>


                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        이름(실명)
                    </td>
                    <td class="table_input">
                        <input type="text" id="username" name="name" class="form-control">
                    </td>
                    <td ></span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td colspan="2"><span class="check-text" id="nameCheck" th:text="${valid_name}"></span></td>
                </tr>

                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        닉네임
                    </td>
                    <td class="table_input">
                        <input type="text" id="nickName" name="nickname" class="form-control">
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td colspan="2"><span class="check-text" id="nickNameCheck" th:text="${valid_nickname}"></span></td>
                </tr>

                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        이메일
                    </td>
                    <td  class="table_input">
                        <input type="text" id="email" name="email" class="form-control">
                    </td>
                    <td><button id="sendEmail"  class="btn btn-light" style="width: 150px;">인증번호 발송</button></td>
                </tr>
                <tr>
                    <td class="table_text">
                    </td>
                    <td  class="table_input">
                        <input type="text" id="" name="" class="form-control" placeholder="인증번호 입력">
                    </td>
                    <td><button class="btn btn-light" style="width: 150px;">확인</button></td>
                </tr>


                <tr>
                    <td><br></td>
                    <td colspan="2"><span class="check-text" id="emailCheck" th:text="${valid_email}"></span> </td>
                </tr>


                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        주소
                    </td>
                    <td  class="table_input">
                        <input type="text" id="sample4_postcode" class="form-control" placeholder="우편번호">
                    </td>
                    <td>
                        <input type="button" onclick="sample4_execDaumPostcode()" class="btn btn-light" value="우편번호 검색" style="width: 150px;">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="table_input"><input type="text" name="address" id="sample4_roadAddress" class="form-control" placeholder="도로명주소"></td>
<!--                    <td><input type="text" class="form-control" id="sample4_jibunAddress" placeholder="지번주소"></td>-->
                    <td></td>
                </tr>
                <tr>
                    <td><span id="guide" style="color:#999;display:none"></span></td>
                    <td class="table_input">
                        <input type="text" id="sample4_detailAddress" name="address" class="form-control" placeholder="상세주소">
                    </td>
                    <td>
                        <input type="text" id="sample4_extraAddress" name="address" class="form-control" placeholder="참고항목" style="width: 150px;">
                    </td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
            </table>

            <button type="reset" class="btn btn-light">취소</button>
            <button type="submit" class="btn btn-dark" style="margin-left: 5px">회원가입</button>
        </form>
    </div>
</div>

<th:block layout:fragment="contentJs">
    <th:block th:replace="pages/member/signupScript.html :: signupScript"></th:block>
</th:block>

