<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<style layout:fragment="content_css">
    /*hr {*/
    /*    width: 50%;*/
    /*    background-color: dimgray;*/
    /*    height: 1px;*/
    /*}*/
    /*table{*/
    /*    width: 50%;*/
    /*}*/
    table{
        width: 60%;
    }
    .table_text{
        text-align: left;
        padding: 2% 0% 2% 20%;
        width: 40%;
        font-weight: bold;
    }
    .table_input{
        width: 50%;
    }
    /*.table tr td{*/

    /*    padding: 10px 10px 10px 10px;*/
    /*}*/
</style>
<div layout:fragment="content">
    <div class="content" style="text-align: center" th:fragment="testPage">
        <h1>회원가입</h1>
        <form method="post" th:action="@{/signUp}">
            <table th:align="center" >
                <tr>
                    <td class="table_text">
                        아이디
                    </td>
                    <td class="table_input">
                        <input type="text" name="id" class="form-control" required>
                    </td>
                    <td></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        비밀번호
                    </td>
                    <td class="table_input">
                        <input type="password" name="password" class="form-control"  required/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="table_text">
                        비밀번호 재입력
                    </td>
                    <td class="table_input">
                        <input type="password" name="password" class="form-control"  required/>
                    </td>
                    <td></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        이름(실명)
                    </td>
                    <td class="table_input">
                        <input type="text" name="name" class="form-control" required>
                    </td>
                    <td></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        닉네임
                    </td>
                    <td class="table_input">
                        <input type="text" name="nickName" class="form-control" required>
                    </td>
                    <td></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        이메일
                    </td>
                    <td  class="table_input">
                        <input type="text" name="email_1" class="form-control" required>
                    </td>
                    <td></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td class="table_text">
                        주소
                    </td>
                    <td  class="table_input">
                        <input type="text" id="sample4_postcode" placeholder="우편번호">
                    </td>
                    <td>
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="table_input"><input type="text" id="sample4_roadAddress" placeholder="도로명주소"></td>
                    <td><input type="text" id="sample4_jibunAddress" placeholder="지번주소"></td>
                </tr>
                <tr>
                    <td><span id="guide" style="color:#999;display:none"></span></td>
                    <td class="table_input">
                        <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                    </td>
                    <td>
                        <input type="text" id="sample4_extraAddress" placeholder="참고항목">
                    </td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td><button>회원가입</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<th:block layout:fragment="content_js">
    <th:block th:replace="pages/member/signup_script.html :: testJs"></th:block>
</th:block>
