<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
// 사용하지 않을 예정


  const getIdCheck = RegExp(/^[a-zA-Z0-9]{4,14}$/);
  // [허용문자], {최소문자길이, 최대 문자길이}
  const getPwCheck = RegExp(/([a-zA-Z0-9].*[!,@,#,$,%,^,&,*,?,_,~])|([!,@,#,$,%,^,&,*,?,_,~].*[a-zA-Z0-9])/);
  // 숫자가 먼저오고 뒤에 특수문자가 옴 or 특수문자가 먼저오고 숫자가 옴 2가지 방법으로 제약 사항 설정
  const getNameCheck = RegExp(/^[가-힣]+$/);
  const getNickNameCheck = RegExp(/^[가-힣]+$/);
  // 한글만 허용

  let chk1 = false, chk2 = false, chk3 = false, chk4 = false;

  $("#memberId").focusout(function () {
    if (memberIdCheck() == false) {
      return false;
    }
  });
  $("#password").focusout(passwordCheck);
  $("#password2").focusout(password2Check);
  $("#username").focusout(usernameCheck);
  $("#nickName").focusout(nickNameCheck);

  function memberIdCheck(){
    const memberId = $("#memberId").val();
    return check(memberId,getIdCheck,"아이디를 다시 입력해 주세요",$("#idCheck"));
  }
  function passwordCheck(){
    const password =  $("#password").val();
    return check(password,getPwCheck,"비밀번호를 다시 입력해 주세요.",$("#pwCheck"));
  };
  function password2Check(){
    const password2 = $("#password2").val();
    // pw 와 pw2비교
    return true;
  }
  function usernameCheck(){
    const username = $("#username").val();
    return check(username,getNameCheck,"한글로 입력해주세요.",$("#nameCheck"));
  }
  function nickNameCheck(){
    const nickName = $("#nickName").val();
    return check(nickName,getNickNameCheck,"한글로 입력해주세요.",$("#nickNameCheck"));
    return true;
  }


  function check(value, pattern, message, span) {
    // 입력 안 함
    if (value == "") {
      span.text("필수 입력입니다.").attr('class', 'fail');
      return false;
    }
    // 패턴 체크
    if (pattern.test(value)==false) {
      span.text(message).attr('class','fail');
      console.log(value);
      console.log(pattern.test(value));
      return false;
    }
    span.text("");
    return true;
  }
</script>


</html>