<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" th:src="@{/js/default_layout.js}"></script>

<div>

    <div id="header">
        <div id="header_1">

            <!-- Menu -->

            <nav id="nav_menu" role="navigation">
                <div id="menuToggle">
                    <input type="checkbox"/>

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul class="menu_list" id="menu">
                        <a href="#">
                            <li>카테고리</li>
                        </a>
                        <a href="#">
                            <li>생활용품</li>
                        </a>
                        <a href="#">
                            <li>의류잡화</li>
                        </a>
                        <a href="#">
                            <li>운동용품</li>
                        </a>
                        <a href="#" target="_blank">
                            <li>전자제품</li>
                        </a>

                        <li><a>마이페이지</a>
                            <ul class="sub">
                                <li></li>
                                <li><a href="#">구매관리</a></li>
                                <li><a href="#">판매관리</a></li>
                                <li><a href="#">후기</a></li>
                                <li><a href="#">최근본상품</a></li>
                                <li><a href="#">관심상품</a></li>
                                <li><a href="#">차단관리</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>

        </div>
        <div id="header_2">
            <a href="" class="logo">
                <span class="symbol"><img th:src="@{images/billim1.png}" width="100px"></span>
            </a>
        </div>
        <div id="header_3">
            <div class="login">로그인</div>

        </div>
    </div>


</div>
</html>