<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="HeaderFragment" id="header">
    <div id="header_1">
    </div>

    <div id="header_2">
        <a th:href="@{/}" class="logo">
            <span class="symbol"><img th:src="@{/images/common/billim_logo_1.png}" width="100px"></span>
        </a>
    </div>

    <div id="header_3">
        <div class="login">
            <div sec:authorize="isAnonymous()"  class="login-before">
                <a th:href="@{/member/login}">
                    <span class="login-before">로그인</span>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()" class="login-after">
                <!--            <span th:text="${user.getMember().getEmail()}"></span>-->
                <img style="width: 35px;" th:src="${#authentication.principal.member.profileImageUrl}">
                <span sec:authentication="principal.member.name"></span>
                <span><a href="/chat/myChatRoom">메세지</a></span>
                <span><a href="/member/myPage">마이페이지</a></span>
            </div>

        </div>
    </div>
</header>
</html>

