<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav th:fragment="NavFragment" id="nav_menu" role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu_list" id="menu">
            <a href="/product/list">
                <li>전체상품</li>
            </a>
            <a href="#">
                <li style="font-size: 110%">생활용품</li>
            </a>
            <a href="#">
                <li style="font-size: 110%">의류잡화</li>
            </a>
            <a href="#">
                <li style="font-size: 110%">운동용품</li>
            </a>
            <a href="#">
                <li style="font-size: 110%">전자제품</li>
            </a>

            <div sec:authorize="isAuthenticated()">

                <hr>

                <li><a>마이페이지</a>
                    <ul class="sub">
                        <li style="font-size: xx-small"></li>
                        <li style="font-size: smaller"><a href="/myPage/purchase">구매관리</a></li>
                        <li style="font-size: smaller"><a href="/myPage/sales">판매관리</a></li>
                        <li style="font-size: smaller"><a href="#">후기</a></li>
<!--                        <li style="font-size: smaller"><a href="#"></a></li>-->
                        <li style="font-size: smaller"><a href="#">관심상품</a></li>
                        <li style="font-size: smaller"><a href="#">차단관리</a></li>
                    </ul>
                </li>

                <a  href="/member/logout">로그아웃</a>
            </div>
        </ul>
    </div>
</nav>
</html>
