<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<div layout:fragment="content">
    <div class="content" style="text-align: center">
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
        <h1>하이하이</h1>
    </div>
</div>
</html>