.login_input {
    width: 300px;
}

.login_area {
    padding-bottom: 25px;
}

.login_button {
    width: 300px;
}

.find_id {
    text-align: right;
}

.content {
    padding-top: 3%;
    padding-bottom: 12%;
}
