/*div {*/
/*    border: 1px solid rebeccapurple;*/
/*}*/
#title {
    display: inline-block;
    padding: 50px 0px 15px 0px;
}

#productEnroll {
    padding-top: 70px;
}



#productEnroll{
    float: right;
    text-align: right;
    padding-right: 6%;
}


#productList{
    display: inline-block;
    background-color: #e5e5e5;
    width: 97%;
}


.myProducts {
    width: 100%;
    display: inline-block;
}


.product-image{
    width: 150px;
    height: 150px;
    display: inline-block;
    float: left;
    padding :3% 3% 3% 3%;
}

.myProductInfo{
    width: 70%;
    display: inline-block;
    padding :3% 3% 3% 3%;
}