.content-wrap {
    display: inline-block;
    width: 100%;
}

.title-area {
    display: inline-block;
    width: 100%;
    padding-left: 100px;
    padding-bottom: 20px;
}
.title {
    float: left;
    font-size: xx-large;
}

.confirm-area {
    float: left;
    padding-left: 50px;
    width: 50%;
}

.confirm-left {
    text-align: left;
    padding-left: 11%;

}

.confirm-title {
    font-size: xx-large;
}

.left-top {
    font-size: x-large;
}

.left-title {
    font-size: x-large;
    padding-top: 20px;
}

.leftSubTitle {
    padding-top: 10px;
}


.pay-area {
    float: right;
    width: 50%;
    padding-inline: 5%;
}


.pay-inside {
    border-radius: 10px;
    border: solid 1px #adadad;
    /*background-color: #e5e5e5;*/
}

hr {
    width: 90%;
}




.inside-top {
    width: 100%;
    padding-top: 30px;
}

.inside-top-image {
    display: inline-block;
    width: 40%;
    float: left;
}

.inside-top-right {
    display: inline-block;
    width: 60%;
    float: right;
}

*,*:focus,*:hover{outline:none;}

.isStatusOnInput {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-color: #bdbdbd;
}