

.content-wrap {
    display: inline-block;
    width: 100%;
}

.title-area {
    display: inline-block;
    width: 100%;
    padding-left: 100px;
    padding-bottom: 20px;
}
.title {
    float: left;
    font-size: xx-large;
}

.confirm-area {
    float: left;
    padding-left: 50px;
    width: 50%;
}

.confirm-left {
    text-align: left;
    padding-left: 60px;

}

.confirm-title {
    font-size: xx-large;
}

.left-top {
    font-size: x-large;
}

.left-title {
    font-size: x-large;
    padding-top: 20px;
}

.leftSubTitle {
    padding-top: 10px;
}

.tableInput {
    padding-top: 10px;
    padding-bottom: 20px;
}





.pay-area {
    float: right;
    width: 50%;
    padding-inline: 5%;
}


.pay-inside {
    border-radius: 10px;
    border: solid 1px #adadad;
    /*background-color: #e5e5e5;*/
}

hr {
    width: 90%;
}

.line {
    padding-left: 5%;
    padding-right: 5%;
}


.insideTop {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 160px;
}

.inside-top-image {
    display: inline-block;
    width: 40%;
    float: left;
}

.inside-top-right {
    display: inline-block;
    width: 60%;
    float: right;
}

.insideTitle {
    font-size: x-large;
    text-align: left;
    padding-left: 8%;
    padding-bottom: 10px;
}

.insideContent {
    display: inline-block;
    text-align: left;
    width: 49%;
    padding-left: 8%;
    padding-bottom: 10px;
}

.insidePrice {
    display: inline-block;
    text-align: right;
    width: 49%;
    padding-right: 8%;
}

.payButton {
    padding-top: 20px;
    padding-bottom: 20px;
}






*,*:focus,*:hover{outline:none;}

.isStatusOnInput {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-color: #bdbdbd;
}