div {
    border: 1px solid palevioletred;
}

/*category*/

#category_nav {
    width: 100%;
}

.category_image {
    padding-right: 20px;
    width: 50px;
}

.search-area {
    padding-left: 15%;
}


.isStatusOnInput {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    width: 220px;
}

/**,*:focus,*:hover{outline:none;}*/

/*product*/

.product-list{
    display: flex;
    position: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    /*justify-content : center;*/
    padding-left: 6%;
}

.product-info{
    width: 330px;
    /*text-align: center;*/
    height: 400px;
    transition: all 0.3s linear;
    margin: 20px 20px;
    padding-top: 10px;
    /*border-radius: 20px;*/
}

.product-image > img{
    width: 330px;
    height: 330px;
    cursor: pointer;
    margin-bottom: 10px;
}

.product-image {
    border-radius: 30px;
}



/*.product-info:hover{*/
/*    transform: scale(1.05);*/
/*}*/



/* hides the checkbox */
#heart {
    display: none;
}

/* changes the color when selected */
input:checked ~ label {
    color: red;
    position: relative;
}

/* for styling purpose only */
label {
    font-size: 2em;
}


.heart-check {
    position: absolute;
    top: 5%;
    right: 5%;
}

.product-image {
    position: relative;
    display: flex;
    flex-direction: column;
}





/*.product-info {*/
/*    position: relative;*/
/*}*/
/*.heart-check {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate( -50%, -50% );*/
/*    color: white;*/
/*}*/
