<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<div layout:fragment="content">
    <link th:href="@{/css/orderInfo.css}" rel="stylesheet">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/js/postCode.js}"></script>

    <div class="content" th:fragment="">
        <div class="content-wrap">
            <div class="title-area">
                <div class="title">
                    <img src="https://cdn-icons-png.flaticon.com/512/54/54321.png" width="30px">
                    <span>확인 및 결제</span>
                </div>
            </div>

            <div class="confirm-area">
                <div class="confirm-left">
                    <div class="left-top">이용 일자</div>
                    <div>
                        <span th:text="${startDate}"></span>
                        ~
                        <span th:text="${endDate}"></span>
                    </div>
                    <div class="left-title">거래방법</div>
                    <div class="leftSubTitle">

                        <select th:field="*{product.tradeMethods}" class="form-select" style="width: 50%;">
                            <option th:each="trademethod : ${product.tradeMethods}" th:value="${product.tradeMethods}"
                                    th:text="${trademethod}"></option>
                        </select>



                    </div>
                    <hr>
                    <div>
                        <div class="left-title">적립금</div>
                        <div>
                            <div class="leftSubTitle">
                                <span>보유적립금</span> <span>원</span>
                            </div>
                            <div>
                                <input class="isStatusOnInput" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');"
                                       style="width: 150px;" id="usePoint">
                                <button class="btn" id="useSavedPoint" onclick="usePoint">사용</button>
                            </div>


                            <script>

                                function usePoint() {
                                    const usePoint = $('#usePoint').val();
                                    console.log(usePoint);
                                    $('#usedPoint').innerText(usePoint);
                                }


                            </script>




                            <div class="left-title">쿠폰</div>
                            <div class="leftSubTitle">
                                <select class="form-select" style="width: 50%">
                                    <option>선택</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>


                    <a href="javascript:doDisplay();"> > 택배일때만 보여야하는데요오오오</a><br/>
                    <div id="delivery" class="delivery">
                        <div>
                            <div class="left-title">택배 수령 정보</div>
                            <div class="leftSubTitle">
                                수취인명
                            </div>
                            <div>
                                <input class="isStatusOnInput" type="text" style="width: 300px;">
                            </div>

                            <table width="80%">
                                <tr>
                                    <td class="leftSubTitle" colspan="3">
                                        주소
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tableInput" colspan="2">
                                        <input type="text" id="sample4_postcode" class="isStatusOnInput"
                                               placeholder="우편번호">
                                    </td>
                                    <td>
                                        <input type="button" onclick="sample4_execDaumPostcode()" class="btn"
                                               value="우편번호 검색">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tableInput" colspan="3">
                                        <input type="text" name="address" id="sample4_roadAddress"
                                               class="isStatusOnInput" placeholder="도로명주소" style="width: 300px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span id="guide" style="color:#999;display:none"></span></td>
                                    <td class="tableInput">
                                        <input type="text" id="sample4_detailAddress" name="address"
                                               class="isStatusOnInput" placeholder="상세주소">
                                    </td>
                                    <td class="tableInput">
                                        <input type="text" id="sample4_extraAddress" name="address"
                                               class="isStatusOnInput" placeholder="참고" style="width: 100px;">
                                    </td>
                                </tr>
                            </table>


                            <div class="leftSubTitle">
                                전화번호
                            </div>
                            <div>
                                <input class="isStatusOnInput" type="text">
                            </div>

                        </div>
                    </div>

                    <script>
                        function doDisplay(){
                            const con = document.getElementById("delivery");
                            if(con.style.display==='none'){
                                con.style.display = 'block';
                            }else{
                                con.style.display = 'none';
                            }
                        }

                    </script>



                </div>
            </div>

            <div class="pay-inside-left">

            </div>


            <div class="pay-area">
                <div class="pay-inside">

                    <div class="insideTop">
                        <div class="inside-top-image">
                            <img class="image-detail" th:src="${product.imageUrls[0]}" width="180px">
                        </div>

                        <div class="inside-top-right">
                            <div>카테고리</div>
                            <div th:text="${product.productName}"></div>
                            <div th:text="${product.member.nickname}"></div>
                        </div>
                    </div>


                    <div class="line">
                        <p style="border-bottom: #adadad solid 1px;"></p>
                    </div>

                    <div class="insideMiddle">

                        <div class="insideTitle">요금세부정보</div>
                        <div>
                            <div>
                                <div class="insideContent">대여료 (/일) </div>
                                <div class="insidePrice"> ₩ <span th:text="${product.price}"></span> </div>
                            </div>
                            <div>
                                <div class="insideContent">대여일</div>
                                <div class="insidePrice" id="countDay"></div>

                                <script th:inline="javascript">
                                    window.onload = function () {
                                        const endDate = new Date([[${endDate}]]);
                                        const startDate = new Date([[${startDate}]]);
                                        const distance = endDate - startDate;
                                        const day = Math.floor(distance / (1000 * 60 * 60 * 24) + 1);
                                        $('#countDay').html(day + ' 일');
                                    };

                                </script>



                            </div>
                            <div>
                                <div class="insideContent">택배비</div>
                                <div class="insidePrice">₩</div>
                            </div>
                            <div>
                                <div class="insideContent">적립금</div>
                                <div class="insidePrice">-<span id="usedPoint"></span> ₩</div>
                            </div>
                            <div>
                                <div class="insideContent">쿠폰적용</div>
                                <div class="insidePrice">- ₩</div>
                            </div>
                        </div>


                    </div>


                    <div class="line">
                        <p style="border-bottom: #adadad solid 1px;"></p>
                    </div>


                    <div>
                        <div class="insideContent">총 합계</div>
                        <div class="insidePrice">₩</div>
                    </div>


                    <div class="payButton">
                        <button class="btn btn-dark">확인 및 결제</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>







</html>