<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/myPageLayout}">

<div layout:fragment="content">

    <link th:href="@{/css/login.css}" rel="stylesheet">
    <div class="content">
        <form method="post" th:action="@{/}">
            <table th:align="center" width="300px">

                정말로 탈퇴 하시겠 습니까?
                <tr>
                    <td>
                        <div class="login_area"><input class="form-control login_input" name="password" type="password"
                                                       placeholder="비밀번호">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="login_area"><input class="form-control login_input" name="password" type="password"
                                                       placeholder="비밀번호">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="login_area">
                            <button class="btn btn-light login_button">탈퇴하기</button>
                        </div>
                    </td>
                </tr>


            </table>
        </form>

    </div>

</div>
</html>