<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/myPageLayout}">

<div layout:fragment="content">
    <link th:href="@{/css/myPurchaseList.css}" rel="stylesheet">
    <div id="content-area" class="content-area">
        <div id="content-title">
            <div id="title">
                <span class="my-subject">구매 상품</span>
            </div>
        </div>
        <div id="productList">
            <br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>


</html>