<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/myPageLayout}">

<div layout:fragment="content">
    <link th:href="@{/css/mySalesList.css}" rel="stylesheet">
    <div id="content-area" class="content-area">
        <div id="content-title">
            <div id="title">
                <span class="my-subject">판매중인 상품</span>
            </div>
            <div id="productEnroll">
                <a href="/product/enroll" style="font-weight: 500; color: #000000;">
                    상품 등록
                </a>
            </div>
        </div>


        <div id="productList">
            <div th:each="product : ${myProducts}" class="product-info">
                <div class="myProducts">
                    <div class="image-area">
                        <div class="myProductImage">
                            <img class="product-image" th:src="${product.getImageUrls[0]}">
                        </div>
                    </div>
                    <div class="myProductInfo">
                        <span th:text="${product.getProductName()}"></span>

                        <span>상태 : <span>대여중</span></span>
                        <span>구매자 : <span>염서학</span></span>
                        <span>대여기간 : <span>2011-11-10 - 2022-11-11</span></span>
                    </div>
                </div>
                <hr>
            </div>
        </div>


    </div>
</div>


</html>