<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/myPageLayout}">

<div layout:fragment="content">
    <link th:href="@{/css/mySalesList.css}" rel="stylesheet">
    <div id="content-area" class="content-area">
        <div id="content-title">
            <div id="title">
                <span class="my-subject">판매중인 상품</span>
            </div>
            <div id="productEnroll">
                <a href="/product/enroll" style="font-weight: 500; color: #000000;">
                    상품 등록
                </a>
            </div>
        </div>
        <div id="productList">
            <div th:each="product : ${myProducts}" class="product-info">
                <h1 th:text="${product.getProductName()}"></h1>
            </div>
        </div>
    </div>
</div>


</html>