<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<div layout:fragment="content">
    <link th:href="@{/css/productList.css}" rel="stylesheet">
    <div class="content" style="text-align: center">

        <div id="category_nav">
            <a th:href="@{/}" class="category_image" id="product_goods">
                <span class="category_image"><img th:src="@{/images/common/product_goods.png}" width="70px"></span>
            </a>
            <a th:href="@{/}" class="category_image" id="product_electronic">
                <span class="category_image"><img th:src="@{/images/common/product_electronic.png}" width="70px"></span>
            </a>
            <a th:href="@{/}" class="category_image" id="product_furniture">
                <span class="category_image"><img th:src="@{/images/common/product_furniture.png}" width="70px"></span>
            </a>

            <input type="text">
            <button class="btn btn-light">검색</button>
        </div>

        <div>
            <div th:each="product : ${productList}">
                <div th:text="${product.productName}" th:value="${product.productId}" onclick=""></div>
            </div>
        </div>

    </div>
</div>


</html>