<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<div layout:fragment="content">
    <link th:href="@{/css/.css}" rel="stylesheet">
    <div class="content" th:fragment="">

        <div class="content-wrap">
            <div>
                상품제목
            </div>
            <div>
                별점 4.5 후기 개 | 등급 | 지역
            </div>

        </div>

        <div>
            <div th:each="product : ${product}">
                <div th:text="${product.productName}"></div>
                <div th:text="${product.detail}"></div>
                <div th:text="${product.price}"></div>
                <div th:text="${product.tradeMethod}"></div>
            </div>
        </div>

        <div>
            님이 대여하는 상품
        </div>

    </div>
</div>
<th:block layout:fragment="contentJs">
    <th:block th:replace="pages/product/productDetailScript.html :: productDetailScript"></th:block>
</th:block>

</html>