<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<div layout:fragment="content">
    <link th:href="@{/css/productDetail.css}" rel="stylesheet">

    <div class="content" th:fragment="">

        <div class="content-wrap">
            <div class="title-area">
                <div class="title">
                    <span th:text="${product.productName}"></span>
                </div>
                <span>
                    별점 4.5 후기 개 | <span th:text="${product.member.getGrade()}"></span> | 지역
                </span>
                <span>
                    공유하기
                    저장
                </span>
            </div>

            <div class="product-image">
                <img class="image-detail" th:src="${product.imageUrls[0]}">
            </div>

            <div class="product-wrap">

                <div class="product-info">
                    <div class="product-info-content">
                        <div class="product-info-left">
                            <h3><span th:text="${product.member.nickname}"></span>
                            님이 대여하는 상품
                            </h3>
                        </div>
                        <div class="product-info-right">
                            <div class="sellerImage">
                                <img  class="sellerImageBig" th:src="${product.member.profileImageUrl}">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="product-info-content">
<!--                        <div th:text="${product.tradeMethods}"></div>-->
                        <div class="product-info-left">
                            <div class="titleFont">
                                <img class="titleImage" src="https://cdn-icons-png.flaticon.com/512/1672/1672190.png">
                                직거래
                            </div>
                            <div class="subscription">가능</div>
                            <div class="titleFont">
                                <img class="titleImage" src="https://cdn-icons-png.flaticon.com/512/3847/3847871.png">
                                택배 거래
                            </div>
                            <div class="subscription">불가능</div>
                            <div class="titleFont">
                                <img class="titleImage" src="https://cdn-icons-png.flaticon.com/512/4616/4616651.png">
                                <span th:text="${product.member.nickname}"></span>님은
                                <span th:text="${product.member.grade}"></span>등급 입니다.
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="product-info-content">
                        <div class="product-info-left">
                            <div class="titleFont">
                                <img class="titleImage" src="https://cdn-icons-png.flaticon.com/512/813/813885.png">
                                상품 설명
                            </div>
                            <div class="subscription" th:text="${product.detail}"></div>
                        </div>
                    </div>
                </div>


                <div class="product-pay">
                    <div class="calendar-wrap">
                        <div class="calendar-middle-wrap">
                            <div class="cal_nav">
                                <a href="javascript:;" class="nav-btn go-prev"></a>
                                <span class="year-month start-year-month"></span>
                                <a href="javascript:;" class="nav-btn go-next"></a>
                            </div>
                            <div class="cal_wrap">
                                <div class="days">
                                    <div class="day">일</div>
                                    <div class="day">월</div>
                                    <div class="day">화</div>
                                    <div class="day">수</div>
                                    <div class="day">목</div>
                                    <div class="day">금</div>
                                    <div class="day">토</div>
                                </div>
                                <div class="dates start-calendar"></div>
                            </div>
                        </div>

                        <div class="calendar-middle-wrap">
                            <div class="cal_nav">
                                <a href="javascript:;" class="nav-btn go-prev"></a>
                                <span class="year-month last-year-month"></span>
                                <a href="javascript:;" class="nav-btn go-next"></a>
                            </div>
                            <div class="cal_wrap">
                                <div class="days">
                                    <div class="day">일</div>
                                    <div class="day">월</div>
                                    <div class="day">화</div>
                                    <div class="day">수</div>
                                    <div class="day">목</div>
                                    <div class="day">금</div>
                                    <div class="day">토</div>
                                </div>
                                <div class="dates last-calendar"></div>
                            </div>
                        </div>
                    </div>

                    <div class="checkInOutInfo">
                        <div>
                            <p>
                                <span>대여 시작일</span>
                                <label id="check_in_day"></label>
                            </p>
                            <p class="space">~</p>
                            <p>
                                <span>대여 종료일</span>
                                <label id="check_out_day"></label>
                            </p>
                        </div>
                    </div>

                    <div class="pay-info">
                        <button class="btn btn-light" onclick="orderConfirm()">확인 및 결제</button>
                    </div>


                    <script th:inline="javascript">

                        function orderConfirm() {
                            let startDate = $('#check_in_day').text().substr(0,10);
                            let endDate = $('#check_out_day').text().substr(0,10);
                            location.href = '/order/confirm?startDate='+startDate+
                                            '&endDate='+endDate+'&productId='+[[${product.productId}]];
                        }

                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="contentJs">
    <th:block th:replace="pages/product/productDetailScript.html :: productDetailScript"></th:block>
</th:block>
<script>


    console.log($('#check_in_day'));
</script>

</html>