<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<div layout:fragment="content">

    <link th:href="@{/css/ProductEnroll.css}" rel="stylesheet">

    <div class="content" th:fragment="productEnroll">
        <div class="subject">
            <h2>상품 등록</h2>
            <!--            <span class="symbol"><img th:src="@{/images/product_enroll.png}" width="40px"> 대여할 상품을 등록해 주세요!</span>-->
        </div>

        <table th:align="center">
            <tr>
                <td class="table_text">대여 상품명</td>
                <td class="table_input"><input type="text" id="title" class="form-control" required ></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>

            <tr>
                <td class="table_text">카테고리</td>
                <td class="table_input">
                    <select id="category" class="form-control" th:field="*{categoryList}">
                        <option value="" class="form-control">카테고리 선택</option>
                        <option th:each="category : ${categoryList}" th:value="${category.getCategoryId()}"
                                th:text="${category.getCategoryName()}" ></option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>

            <tr>
                <td class="table_text">대여 요금</td>
                <td class="table_input"><input type="number" id="price" class="form-control" required></td>
                <td class="table_last">원(/일)</td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>

            <tr>
                <td class="table_text">거래 방법</td>
                <td class="table_input">
                    <input type="checkbox" class="trade_method" name="tradeMethod" value="DIRECT"> &nbsp;직거래&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" class="trade_method" name="tradeMethod" value="DELIVERY"> &nbsp;택배
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>

            <tr>
                <td class="table_text">상품 설명</td>
                <td><textarea name="" id="product_content" rows="15" class="form-control" style="padding-left: 20px" required></textarea></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>

            <tr>
                <td class="table_text">상품 사진</td>
                <td class="table_input">
                    <div id='image_preview' class="filebox">
                        <input type='file' id='btnAtt' multiple='multiple' class="form-control upload-hidden" onchange="readURL(this);" />
                        <div id='att_zone'
                             data-placeholder='이미지를 첨부 하시려면 파일 선택 버튼을 클릭하거나 드래그 앤 드랍 하세요'></div>
                    </div>
                </td>
                <td></td>
            </tr>

        </table>
        <br>
        <button class="btn btn-secondary" type="reset">취소</button>&nbsp;
        <button class="btn btn-dark" type="button" onclick="register()">상품등록</button>

        <script>
            function register() {
                const formData = new FormData();
                formData.set("categoryId", $('#category').val());
                formData.set("name", $('#title').val());
                formData.set("detail", $('#product_content').val());
                formData.set("price", $('#price').val());
                formData.set("tradeMethod", $('input:checkbox[name=tradeMethod]:checked').val()); // TODO : 체크 돼야 넘어가게끔도 처리해야함

                const files = $('#btnAtt')[0].files
                for (let i = 0; i < files.length; ++i) {
                    formData.append('images', files[i]);
                }

                var trade_methods = [];
                console.log($('input:checkbox[name=trade_method]:checked'))
                console.log(trade_methods)

                $.ajax({
                    url: '/product/enroll',
                    method: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success : function (){
                        location.href = '/myPage/sales';
                    },
                    error : function (error) {
                        console.log(error);
                        Swal.fire({
                            icon: 'warning',
                            title: error['responseJSON'].message
                        });
                    }
                });
            }
        </script>

    </div>
</div>

<th:block layout:fragment="contentJs">
    <th:block th:replace="pages/product/productEnrollScript.html :: productEnrollScript"></th:block>
</th:block>

</html>